%p#notice= notice
%h3{:style => "text-align:center;"} ITR VERIFICATION REPORT 
%table.table.table-bordered.no-border
  %tr
    %td
      %b CORPORATION BANK
    %td
      %b BRANCH:
      =@itr_verification_report.branch

%table.table.table-bordered.no-border
  %tr
    %td
      %b CORP
    %td 
      %b CUSTOMER NAME:
      =@itr_verification_report.customer_name
  %tr    
    %td{:colspan=>2} 
      %b CO-APPLICANT NAME:
      =@itr_verification_report.co_applicant_name
      
%table.table.table-bordered
  %tr
    %th{:rowspan=>2}     
    %td{:colspan=>3}
      %b APPLICANT
    %td{:colspan=>3}
      %b CO OBLIGANT  
  %tr
    %td
      %b AY
    %td
      %b AY
    %td
      %b AY
    %td
      %b AY 
    %td
      %b AY
    %td
      %b AY
  %tr
    %th Acknowledgement No           
    %td
      %b=@itr_verification_report.app_acknowledge_no_1
    %td
      %b=@itr_verification_report.app_acknowledge_no_2
    %td
      %b=@itr_verification_report.app_acknowledge_no_3 
    %td
      %b=@itr_verification_report.co_obligant_acknowledge_no_1   
    %td
      %b=@itr_verification_report.co_obligant_acknowledge_no_1  
    %td
      %b=@itr_verification_report.co_obligant_acknowledge_no_3
  %tr
    %th Date of Filling I.T.Return           
    %td
      =@itr_verification_report.app_date_IT_return_no_1
    %td
      =@itr_verification_report.app_date_IT_return_no_2
    %td
      =@itr_verification_report.app_date_IT_return_no_3
    %td
      =@itr_verification_report.co_obligant_date_IT_return_no_1   
    %td
      =@itr_verification_report.co_obligant_date_IT_return_no_2 
    %td
      =@itr_verification_report.co_obligant_date_IT_return_no_3
  %tr
    %th Returned income (Rs)          
    %td
      %b=@itr_verification_report.app_return_income_1
    %td
      %b=@itr_verification_report.app_return_income_2
    %td
      %b=@itr_verification_report.app_return_income_3
    %td
      %b=@itr_verification_report.co_obligant_return_income_1  
    %td
      %b=@itr_verification_report.co_obligant_return_income_2
    %td
      %b=@itr_verification_report.co_obligant_return_income_3          
  %tr
    %th Income Tax Paid (Rs)          
    %td
      %b=@itr_verification_report.app_income_tax_1 
    %td
      %b=@itr_verification_report.app_income_tax_2
    %td
      %b=@itr_verification_report.app_income_tax_3
    %td
      %b=@itr_verification_report.co_obligant_income_tax_1 
    %td
      %b=@itr_verification_report.co_obligant_income_tax_2
    %td
      %b=@itr_verification_report.co_obligant_income_tax_3 
%p
  %b REMARKS
  =@itr_verification_report.remarks
%br
%br
%br
%b DATE
=@itr_verification_report.date 
%br 
%b PLACE
=@itr_verification_report.place 
.sign  
  %b Authorised signatory  
%br
.display       
  = link_to 'Edit', edit_itr_verification_report_path(@itr_verification_report)
  \|
  = link_to 'Back', itr_verification_reports_path
