%p#notice= notice

%table
  %tr
    %td{:width=>"50"}
      %b CORPORATION BANK
    %td
      %b BRANCH:
      =@site_inspection.branch
      
%table     
  %tr
    %td{:width => "50"}
      %b CORP
    %td
      %b CUSTOMER NAME:
    %td
      =@site_inspection.name
%table
  %tr
    %td{:width => "200"}
      %b ADDRESS(SITE):
    %td{:width => "200"}
    %td{:width => "200"}
      =@site_inspection.address
  %tr
    %td{:width => "100"}
    %td{:colspan=>2,:width => "500"}
      %b TEL NO:
      =@site_inspection.phone
  %tr
    %td{:width => "200"}
      %b Date of Site Visit
    %td{:width => "200"}
    %td{:width => "200"}
      %b :
      =@site_inspection.date_site_visit
  %tr
    %td{:width => "200"}
      %b Name of the Verifier:
    %td{:width => "200"}
    %td{:width => "200"}
      %b :  
      =@site_inspection.verifier_name
  %tr
    %td{:width => "200"}
      %b Contact Person/Designation
    %td{:width => "200"}
    %td{:width => "200"}
      %b :  
      =@site_inspection.contact_person
      =@site_inspection.designation
  %tr
    %td{:width => "200"}
      %b Land Mark
    %td{:width => "200"}
    %td{:width => "200"}
      %b : 
      =@site_inspection.landmark
  %tr
    %td{:width => "200"}
      %b Remarks
    %td{:width => "200"}
    %td{:width => "200"}
      %b :  
      =@site_inspection.remarks
      
%table      
  %tr
    %td{:width => "200"}
      %b Verifier Name:
      =@site_inspection.verifier_name2
    %td{:width => "200"}
      %b Signature:
    %td{:width => "500"}
      %b Date of Verification:
      =@site_inspection.date_of_verification
    
%table
  %tr
    %td{:colspan=>2,:width => "200"}   
      %b Date:
      =@site_inspection.date 
  %tr
    %td{:width => "400"}
      %b Place:Mangalore
    %td{:width => "200"}
      %b Authorized Signature: 
  %tr
    %td{:colspan=>2}
      %b For ROUTE MAP-See overleaf          

= link_to 'Edit', edit_site_inspection_path(@site_inspection)
\|
= link_to 'Back', site_inspections_path
