%p#notice= notice

%table.table-bordered.nobordertable
  %tr
    %td{:width=>"250"}
      %b CORPORATION BANK
    %td
      %b BRANCH:
      =@site_inspection.branch
      
%table.table.table-bordered.nobordertable 
  %tr
  %tr
    %td{:width => "230"}
      %b CORP
    %td{:width =>"220"}
      %b CUSTOMER NAME:
    %td
      =@site_inspection.name
      
%table.table.table-bordered.nobordertable 
  %tr
    %th{:width =>"464"}ADDRESS(SITE):
    %td
      =@site_inspection.address
      
%table.table.table-bordered.nobordertable      
  %tr
    %td{:width =>"300"}
    %td{:width =>"150"}
      %b TEL NO:
    %td
      =@site_inspection.phone
      
%table.table.table-bordered.nobordertable     
  %tr
    %td{:width=>"470"}
      %b Date of Site Visit:
    %td
      =@site_inspection.date_site_visit
  %tr
    %td
      %b Name of the Verifier:
    %td
      =@site_inspection.verifier_name
  %tr
    %td
      %b Contact Person/Designation
    %td
      =@site_inspection.contact_person
      =@site_inspection.designation
  %tr
    %td
      %b Land Mark
    %td
      =@site_inspection.landmark
  %tr
    %td
      %b Remarks
    %td  
      =@site_inspection.remarks
      
%table.table.table-bordered.nobordertable     
  %tr
    %td{:width=>'400px'}
      %b Verifier Name:
      =@site_inspection.verifier_name2
    %td{:width=>'380px'}
      %b Signature:
    %td
      %b Date of Verification:
      =@site_inspection.date_of_verification
    
%table.table.table-bordered.nobordertable 
  %tr
    %td  
      %b Date:
      =@site_inspection.date 
  %tr
    %td{:width=>'800px'}
      %b Place:Mangalore
    %td
      %b Authorized Signature: 
  %tr
    %td{:colspan=>2}
      %b For ROUTE MAP-See overleaf          

= link_to 'Edit', edit_site_inspection_path(@site_inspection)
\|
= link_to 'Back', site_inspections_path
