%p#notice= notice
%h3{:style => "text-align:center;"} SITE INSPECTION REPORT 
%table.table-bordered.no-border
  %tr
    %td.site1{:width=>"370"}
      %b CORPORATION BANK
    %td
      %b BRANCH:
      =@site_inspection.branch
      
%table.table.table-bordered.no-border
  %tr
  %tr
    %th{:width => "230"}
      CORP
    %th.site2{:width =>"145"}
      CUSTOMER NAME
      .right :
      .clear         
    %td
      =@site_inspection.name
      
%table.table.table-bordered.no-border
  %tr
    %th.site3{:width =>"388"}
      ADDRESS(SITE)
      .right :
      .clear         
    %td
      =@site_inspection.address
%br
%br      
%table.table.table-bordered.no-border     
  %tr
    %th{:width =>"300"}
    %th.site4{:width =>"75"}
      TEL NO
      .right :
      .clear         
    %td
      =@site_inspection.phone
      
%table.table.table-bordered.no-border
  %tr
    %th.site5{:width=>"388"}
      Date of Site Visit:
      .right :
      .clear         
    %td
      =@site_inspection.date_site_visit
  %tr
    %th
      Name of the Verifier
      .right :
      .clear           
    %td
      =@site_inspection.verifier_name
  %tr
    %th
      Contact Person/Designation
      .right :
      .clear           
    %td
      =@site_inspection.contact_person
      =@site_inspection.designation
  %tr
    %th
      Land Mark
      .right :
      .clear           
    %td
      =@site_inspection.landmark    
  %tr
    %th
      Remarks
      .right :
      .clear               
    %td 
      =@site_inspection.remarks
 
%br
%br      
%table.table.table-bordered.no-border
  %tr
    %td.left
      %b Verifier Name:
      =@site_inspection.verifier_name2
    %td.left
      %b Signature:
    %td.left
      %b Date of Verification:
      =@site_inspection.date_of_verification
               
%b Date:
=@site_inspection.date 
%br 
%b Place:Mangalore
.authorised 
  %b Authorised signatory 
%br
%br   
%b For ROUTE MAP-See overleaf  
%br
.display  
= link_to 'Edit', edit_site_inspection_path(@site_inspection)
\|
= link_to 'Back', site_inspections_path
