%h1 Listing business_verification_reports

%table
  %tr
    %th
    %th
    %th

  - @business_verification_reports.each do |business_verification_report|
    %tr
      %td= link_to 'Show', business_verification_report
      %td= link_to 'Edit', edit_business_verification_report_path(business_verification_report)
      %td= link_to 'Destroy', business_verification_report, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Business verification report', new_business_verification_report_path
