%p#notice= notice
%h2 BUSINESS VERIFICATION REPORT
%p
  %b NAME:
  =@business_verification_report.name
  %br  

%p
  %b ADDRESS:
  = @business_verification_report.address
%br
%br
  
%table.table.table-bordered.no-border
  %tr
    %td
      =check_box_tag 'home_loan', "", (@business_verification_report.home_loan)
      HOME LOAN
    %td
      =check_box_tag 'vehicle_loan', "", (@business_verification_report.vehicle_loan) 
      VEHICLE LOAN
    %td
      =check_box_tag 'other_loan1', "", (@business_verification_report.other_loan1)
      OTHERS  
    %td
      OTHER LOAN (Specify):
      =@business_verification_report.other_loan2 
  %tr
    %td
      =check_box_tag 'salaried', "",((@business_verification_report.salaried == 'SALARIED')?  true : false) 
      SALARIED
    %td
      =check_box_tag 'salaried', "",((@business_verification_report.salaried == 'SELF EMPLOYED')?  true : false) 
      SELF EMPLOYED
    %td
      =check_box_tag 'salaried', "",((@business_verification_report.salaried =='OTHERS')?  true : false) 
      OTHERS
    %td
      OTHERS(Specify):
      =@business_verification_report.other_sal 
  %tr   
    %td{:colspan=>4}
      Loan Amount : Rs.
      =@business_verification_report.loan_amount
  %tr
    %td.underline{:colspan=>4}
      %b FOLLOWING ARE BASED ON VERIFIER'S OBSERVATION:
           
  %tr
    %td 
      %b Landmark:
    %td 
      =@business_verification_report.landmark 
    %td{:colspan=>2}
      %b Working Hours:
      =@business_verification_report.work_hrs
      
%table.table.table-bordered.no-border    
  %tr
    %th 
      Locality of Office
      .right :
      .clear
    %td
      =check_box_tag 'locality_of_off', "",((@business_verification_report.locality_of_off == 'Commericial')?  true : false)
      Commericial-
      =@business_verification_report.quality_of_off 
      (P)osh (G)ood (A)verage (P)oor:
  %tr
    %th
    %td
      =check_box_tag 'locality_of_off', "",((@business_verification_report.locality_of_off == 'Industry/Factory/Workshop')?  true : false)   
      Industry/Factory/Workshop      
  %tr
    %th
    %td
      =check_box_tag 'locality_of_off', "",((@business_verification_report.locality_of_off == 'Small Producation Units')?  true : false)   
      Small Producation Units  
  %tr
    %th
    %td   
      =check_box_tag 'locality_of_off', "",((@business_verification_report.locality_of_off == 'Slum Chawl ')?  true : false)   
      Slum Chawl             
    %td
      =check_box_tag 'locality_of_off', "",((@business_verification_report.locality_of_off == 'Underdeveloped')?  true : false)   
      Underdeveloped
  %tr
    %th  
    %td
      =check_box_tag 'locality_of_off', "",((@business_verification_report.locality_of_off == 'Residential')?  true : false)   
      Residential             
    %td
      =check_box_tag 'locality_of_off', "",((@business_verification_report.locality_of_off == 'Residential-cum-Commericial')?  true : false)   
      Residential-cum-Commericial
  %tr
    %th 
      Describe the building where the office is located
      .right :
      .clear
    %td
      =check_box_tag 'where_off_loc', "",((@business_verification_report.where_off_loc == 'Shop')?  true : false)   
      Shop             
    %td
      =check_box_tag 'where_off_loc', "",((@business_verification_report.where_off_loc == 'Office Complex')?  true : false)   
      Office Complex    
  %tr
    %th 
    %td
      =check_box_tag 'where_off_loc', "",((@business_verification_report.where_off_loc == 'Factory')?  true : false)   
      Factory             
    %td
      =@business_verification_report.quality_of_build
      (P)osh (G)ood (A)verage (P)oor:
      
  %tr
    %th 
    %td
      =check_box_tag 'where_off_loc', "",((@business_verification_report.where_off_loc == 'Business Centre')?  true : false)   
      Business Centre             
    %td
      =check_box_tag 'where_off_loc', "",((@business_verification_report.where_off_loc == 'Own Residence')?  true : false)   
      Own Residence 
      
  %tr
    %th 
    %td
      =check_box_tag 'where_off_loc', "",((@business_verification_report.where_off_loc == 'Residential Building')?  true : false)   
      Residential Building             
    %td
      =check_box_tag 'where_off_loc', "",((@business_verification_report.where_off_loc == 'Applicants Co-Owned Building')?  true : false)   
      Applicants Co-Owned Building
  %tr
    %th   
    %td
      =check_box_tag 'where_off_loc', "",((@business_verification_report.where_off_loc == 'Others(Please Specify)')?  true : false)   
      Others(Please Specify)            
    %td
      =@business_verification_report.others
      
%table.table.table-bordered.no-border      
  %tr
    %th.ty_off 
      Describe the type of office
      .right :
      .clear
    %td
      =check_box_tag 'type_of_off', "",((@business_verification_report.type_of_off == 'Commericial Office')?  true : false)   
      Commericial Office           
    %td.ty_off
      =check_box_tag 'type_of_off', "",((@business_verification_report.type_of_off == 'Shop')?  true : false)
      Shop                      
    %td.ty_off
      =check_box_tag 'type_of_off', "",((@business_verification_report.type_of_off == 'Poor')?  true : false)
      Poor                   
  %tr
    %th.ty_off 
      If business is conducated in own residence is there any seperate area earmarked
      .right :
      .clear  
    %td.ty_off 
      =check_box_tag 'bus_cond', "",((@business_verification_report.bus_cond == 'Yes')?  true : false)   
      Yes           
    %td.ty_off 
      =check_box_tag 'bus_cond', "",((@business_verification_report.bus_cond == 'No')?  true : false)
      No                     
    %td.ty_off 
      =check_box_tag 'bus_cond', "",((@business_verification_report.bus_cond == 'Not Applicable')?  true : false)
      Not Applicable 
  %tr
    %th.ty_off 
      Company's Name Plate seen outside premises
      .right :
      .clear    
    %td.ty_off
      =check_box_tag 'com_name_plate', "",(@business_verification_report.com_name_plate)   
      Yes           
    %td.ty_off{:colspan=>2}
      =check_box_tag 'com_name_plate', "",!(@business_verification_report.com_name_plate)
      No  
%table.table.table-bordered.no-border                        
  %tr
    %th Status of premises 
    %th Residence Area 
    %td
      =check_box_tag 'reception_area', "",(@business_verification_report.reception_area)   
      Yes 
    %td         
      =check_box_tag 'reception_area', "",!(@business_verification_report.reception_area)
      No                     
    %th Security Guard:
    %td
      =check_box_tag 'security_guard', "",(@business_verification_report.security_guard)
      Yes
    %td               
      =check_box_tag 'security_guard', "",!(@business_verification_report.security_guard)
      No
  %tr
    %th 
    %th Cabin:
    %td
      =check_box_tag 'cabin', "",(@business_verification_report.cabin)  
      Yes
    %td          
      =check_box_tag 'cabin', "",!(@business_verification_report.cabin)
      No                     
    %th Secretary/Typist:
    %td
      =check_box_tag 'sec_or_type', "",(@business_verification_report.sec_or_type) 
      Yes
    %td                 
      =check_box_tag 'sec_or_type', "",!(@business_verification_report.sec_or_type)
      No
  %tr
    %th Equipments seen:
    %th Air Conditioner 
    %td
      =check_box_tag 'air_condition', "",(@business_verification_report.air_condition)  
      Yes
    %td   
      =check_box_tag 'air_condition', "",!(@business_verification_report.air_condition)
      No                       
    %th Xerox:
    %td
      =check_box_tag 'xerox', "",(@business_verification_report.xerox)
      Yes
    %td               
      =check_box_tag 'xerox', "",!(@business_verification_report.xerox)
      No 
  %tr
    %th 
    %th Computer
    %td
      =check_box_tag 'Computer', "",(@business_verification_report.computer)   
      Yes 
    %td{:colspan=>4}     
      =check_box_tag 'Computer', "",!(@business_verification_report.computer)
      No 
%table.table.table-bordered.no-border                   
  %tr
    %th 
      Furnishing seen
      .right :
      .clear 
    %td
      =check_box_tag 'furni_seen', "",((@business_verification_report.furni_seen == 'Posh')?  true : false)   
      Posh
    %td            
      =check_box_tag 'furni_seen', "",((@business_verification_report.furni_seen== 'Good')?  true : false)
      Good
    %td   
      =check_box_tag 'furni_seen', "",((@business_verification_report.furni_seen== 'Fair')?  true : false)
      Fair
    %td 
      =check_box_tag 'furni_seen', "",((@business_verification_report.furni_seen== 'Poor')?  true : false)
      Poor 
  %tr
    %th 
      Business Activities seen
      .right :
      .clear 
    %td 
      =check_box_tag 'busi_act_seen', "",(@business_verification_report.busi_act_seen) 
      Yes
    %td{:colspan=>3}          
      =check_box_tag 'busi_act_seen', "",!(@business_verification_report.busi_act_seen)
      No 
%table.table.table-bordered.no-border   
  %tr
    %th 
      Approximate size of office
      .right :
    %td
      =@business_verification_report.size_of_off
      Sq.ft  
  %tr                
    %th
      No of people
      .right :
    %td
      =@business_verification_report.no_of_people
  %tr
    %th
      Amount of Business
      .right :
    %td{:colspan=>3} 
      =check_box_tag 'amount', "",((@business_verification_report.amount== 'Active')?  true : false)   
      Active         
      =check_box_tag 'amount', "",((@business_verification_report.amount== 'Inactive')?  true : false)
      Inactive  
  %tr
    %th 
      Briefly describe the nature of Business
      .right :
    %td{:colspan=>3} 
      =@business_verification_report.des_of_business
      
%table.table.table-bordered.no-border
  %tr
    %th.ty_off FOLLOWING ARE BASED ON INFORMATION FROM PERSON CONTACTED: 
  %tr
    %th.ty_off  
      person contacted(Name)
      .right :
      .clear
    %td.ty_off    
      =@business_verification_report.person_contacted1                          
  %tr
    %th.ty_off  
      Designation/Relation
      .right :
      .clear 
    %td.ty_off 
      =@business_verification_report.des_or_rel
    
%table.table.table-bordered.no-border      
  %tr
    %th.ty_off  If applicant was met was he met at 
    %td.ty_off 
      =check_box_tag 'app_met', "",((@business_verification_report.app_met=='His Desk')?  true : false)
      His Desk
    %td.ty_off     
      =check_box_tag 'app_met', "",((@business_verification_report.app_met=='Reception Area')?  true : false) 
      Reception Area
    %td.ty_off  
      =check_box_tag 'app_met', "",((@business_verification_report.app_met=='Not Applicable')?  true : false)
      Not Applicable
      
%table.table.table-bordered.no-border          
  %tr
    %th.ph_desk  
      If met at his desk,Was there a phone on his desk
      .right :
      .clear
    %td
      =check_box_tag 'app_met', "",(@business_verification_report.met_disk)
      Yes
      &nbsp;&nbsp;&nbsp;
      =check_box_tag 'app_met', "",!(@business_verification_report.met_disk)
      No  
  %tr
    %th{:colspan=>3}
      Number of years at business(Self Employed)/at work(salaried)
      =@business_verification_report.years_business
  %tr
    %th{:colspan=>3}
      Office Phone Nos:
      =@business_verification_report.off_phone
  %tr
    %th{:colspan=>3} 
      Applicants DOB
      =@business_verification_report.app_dob
      
%table.table.table-bordered.no-border                                         
  %tr
    %th.ty_off{:colspan=>4} 
      FOR SELF EMPLOYED APPLICANTS ONLY:
  %tr
    %th.ty_off 
      Ownership status of business premises
      %br 
        (for self-employed applications only)
    %td.ty_off 
      =check_box_tag 'ownership_stat', "",((@business_verification_report.ownership_stat== 'Owned')?  true : false) 
      Owned
    %td.ty_off{:colspan=>2}  
      =check_box_tag 'ownership_stat', "",((@business_verification_report.ownership_stat== 'Rented')?  true : false) 
      Rented
  %tr
    %th.ty_off BUSINESS ORGANIZATION:
    %td.ty_off 
      =check_box_tag 'bus_org', "",((@business_verification_report.bus_org== 'Proprietorship')?  true : false) 
      Proprietorship
    %td.ty_off
      =check_box_tag 'bus_org', "",((@business_verification_report.bus_org== 'Partnership')?  true : false) 
      Partnership
    %td     
      =check_box_tag 'bus_org', "",((@business_verification_report.bus_org== 'Family Business')?  true : false) 
      Family Business
  %tr
    %th.ty_off
    %td.ty_off
      =check_box_tag 'bus_org', "",((@business_verification_report.bus_org== 'Private Ltd')?  true : false) 
      Private Ltd
    %td.ty_off{:colspan=>2}
      =check_box_tag 'bus_org', "",((@business_verification_report.bus_org== 'Public Ltd.Company')?  true : false) 
      Public Ltd.Company
      
%table.table.table-bordered.no-border       
  %tr
    %th 
      No.of years of existence of Company/Firm
      .right :
      .clear
    %td
      =@business_verification_report.exist_of_firm    
  %tr
    %th 
      Company/Firm's DOI
      .right :
      .clear
    %td
      =@business_verification_report.firms_doi                              
  %tr
    %th
      Number of Branches /Locations
      .right :
      .clear
    %td
      =@business_verification_report.no_of_branch 
  %tr
    %th 
      Number of Employees
      .right :
      .clear
    %td
      =@business_verification_report.no_of_emp 

.main
  %table.table.no-border        
    %tr
      %th
        NEIGHBOURHOOD CHECK
        .right :
        .clear
      %td
        =@business_verification_report.neighbour_check 
    %tr
      %th
        Person Contacted
        .right :
        .clear
      %td
        =@business_verification_report.person_contacted2 
    %tr
      %th
        Years of operation at this address
        .right :
        .clear
      %td
        =@business_verification_report.years_op_addr 
    %tr
      %th 
        Nature of Business
        .right :
        .clear
      %td
        =@business_verification_report.nat_of_business
%br      
%table.table.table-bordered.no-border           
  %tr
    %th
      %h5
        Verifiers Comments &nbsp; :
      .clear
    %td
      =@business_verification_report.verifiers_comm 
      
%table.table.table-bordered.no-border   
  %tr
    %td
      %b Date of verification &nbsp; :
      =@business_verification_report.date_verify       
    %td
      %b Time of verification &nbsp; :
      =@business_verification_report.time  
  %tr
    %td
      %b Verifiers Name
      .right 
        %b : 
    %td                       
      =@business_verification_report.verifiers_name
  %tr
    %td
      %b Status
      .right 
        %b : 
    %td                      
      =check_box_tag 'status', "",((@business_verification_report.status== 'Accept')?  true : false) 
      Accept  
      &nbsp;&nbsp;
      =check_box_tag 'status', "",((@business_verification_report.status== 'Reject')?  true : false)
      Reject
      &nbsp;&nbsp;
      =check_box_tag 'status', "",((@business_verification_report.status== 'Refer')?  true : false) 
      Refer
  %tr
    %td
      %b If Reject of Refer Please state reason
      .right 
        %b :    
    %td                          
      =@business_verification_report.reason
%br
%b Date:
=@business_verification_report.date2
.sign  
  %b Authorised signatory  
                          
        
.display                           
  = link_to 'Edit', edit_business_verification_report_path(@business_verification_report)
  \|
  = link_to 'Back', business_verification_reports_path
