%p#notice= notice
%table
  %tr
    %td
      %b BORROWERS NAME
    %td
      =@telephone_verification.borrowers_name
  %tr
    %td
      %b DATE OF RECEIPT
    %td
      =@telephone_verification.date_of_receipt
  %tr
    %td
      %b RESIDENCE CONTACT PHONE NO
    %td
      =@telephone_verification.Res_phone_no
  %tr
    %td
      %b PERSON CONTACTED/RELATIONSHIP:
    %td
      =@telephone_verification.person_contacted
  %tr
    %td
      %b RESIDENCE ADDRESS:
    %td 
      =@telephone_verification.res_addr
%br
%br
%br
 
%table   
  %tr
    %td
      %b PHONE NUMBER:
    %td 
      =@telephone_verification.phone_no_borrower1
  %tr
    %td
      %b BORROWERS DATE OF BIRTH:
    %td
      =@telephone_verification.borrowers_dob
  %tr
    %td
      %b YEARS AT RESIDENCE:
    %td 
      =@telephone_verification.years_at_res
  %tr
    %td
      %b  PREMISES:
    %td
      =@telephone_verification.premises
  %tr
    %td
      %b CELLULAR NUMBER:
    %td
      =@telephone_verification.cell_no 
  %tr
    %td
      %b COMMENTS:
    %td
      =@telephone_verification.comments1
%br
%br
%br      
%table      
  %tr
    %td
      %b BUSINESS CONTACT PHONE NO:
    %td 
      =@telephone_verification.business_contact_no
    %tr
      %td  
        %b PERSON CONTACTED/DESIGNATION:
      %td
        =@telephone_verification.person_contacted_des 
  %tr
    %td
      %b BUSINESS ADDRESS:
    %td
      =@telephone_verification.business_addr
%br
%br
%br
%table      
  %tr
    %td
      %b DESIGNATION OF BORROWER:
    %td
      =@telephone_verification.designation_borrower
  %tr
    %td
      %b NATURE OF BUSINESS:
    %td
      =@telephone_verification.nature_of_business
  %tr
    %td
      %b PHONE NUMBER:
    %td
      =@telephone_verification.phone_no_borrower2
  %tr
    %td
      %b COMMENTS:
    %td
      =@telephone_verification.comments2
%br
%br
%br 
     
%table      
  %tr
    %td
      %b CALL ATTEMPTS:
    %td
      =@telephone_verification.call_attempts
    %td
      %b RESIDENCE:
    %td
      =@telephone_verification.residence
    %td
      %b OFFICE:
    %td
      =@telephone_verification.office
  %tr
    %td
      %b VERIFIERS NAME:
    %td{:colspan=>5}
      =@telephone_verification.verifiers_name
  %tr
    %td
      %b DATE OF CONTACT:
    %td{:colspan=>5}
      =@telephone_verification.date_of_contact
  %tr
    %td
      %b DATE:
    %td
      =@telephone_verification.date
    %td{:colspan=>4}
      %b Authorised signatory  
 
= link_to 'Edit', edit_telephone_verification_path(@telephone_verification)
\|
= link_to 'Back', telephone_verifications_path
