%p#notice= notice
%h3{:style => "text-align:center;"} TELEPHONE VERIFICATION REPORT
%table.table.table-bordered.no-border
  %tr
    %th
      BORROWERS NAME
      .right :
      .clear
    %td
      =@telephone_verification.borrowers_name
  %tr
    %th
      DATE OF RECEIPT
      .right :
      .clear
    %td
      =@telephone_verification.date_of_receipt
  %tr
    %th
      RESIDENCE CONTACT PHONE NO
      .right :
      .clear
    %td
      =@telephone_verification.Res_phone_no
  %tr
    %th
      PERSON CONTACTED/RELATIONSHIP
      .right :
      .clear
    %td
      =@telephone_verification.person_contacted
  %tr
    %th
      RESIDENCE ADDRESS
      .right :
      .clear
    %td 
      =@telephone_verification.res_addr
%br

 
%table.table.table-bordered.no-border
  %tr
    %th.tvr
      PHONE NUMBER
      .right :
      .clear      
    %td 
      =@telephone_verification.phone_no_borrower1
  %tr
    %th
      BORROWERS DATE OF BIRTH
      .right :
      .clear      
    %td
      =@telephone_verification.borrowers_dob
  %tr
    %th
      YEARS AT RESIDENCE
      .right :
      .clear      
    %td 
      =@telephone_verification.years_at_res
  %tr
    %th
      PREMISES
      .right :
      .clear        
    %td
      =@telephone_verification.premises
  %tr
    %th
      CELLULAR NUMBER
      .right :
      .clear        
    %td
      =@telephone_verification.cell_no 
  %tr
    %th
      COMMENTS
      .right :
      .clear        
    %td
      =@telephone_verification.comments1
%br

      
%table.table.table-bordered.no-border      
  %tr
    %th.tvr
      BUSINESS CONTACT PHONE NO
      .right :
      .clear  
    %td 
      =@telephone_verification.business_contact_no
    %tr
      %th  
        PERSON CONTACTED/DESIGNATION
        .right :
        .clear          
      %td
        =@telephone_verification.person_contacted_des 
  %tr
    %th
      BUSINESS ADDRESS
      .right :
      .clear        
    %td
      =@telephone_verification.business_addr
%br


%table.table.table-bordered.no-border     
  %tr
    %th.tvr
      DESIGNATION OF BORROWER
      .right :
      .clear        
    %td
      =@telephone_verification.designation_borrower
  %tr
    %th
      NATURE OF BUSINESS
      .right :
      .clear        
    %td
      =@telephone_verification.nature_of_business
  %tr
    %th
      PHONE NUMBER
      .right :
      .clear        
    %td
      =@telephone_verification.phone_no_borrower2
  %tr
    %th
      COMMENTS
      .right :
      .clear        
    %td
      =@telephone_verification.comments2
%br

     
%table.table.table-bordered.no-border     
  %tr
    %th.tvr
      CALL ATTEMPTS
      .right :
      .clear        
    %td
      =@telephone_verification.call_attempts
    %th
      RESIDENCE
      .right :
      .clear       
    %td
      =@telephone_verification.residence
    %th
      OFFICE
      .right :
      .clear       
    %td
      =@telephone_verification.office
  %tr
    %th
      VERIFIERS NAME
      .right :
      .clear       
    %td{:colspan=>5}
      =@telephone_verification.verifiers_name
  %tr
    %th
      DATE OF CONTACT
      .right :
      .clear       
    %td{:colspan=>5}
      =@telephone_verification.date_of_contact
%br
%b Date:
=@telephone_verification.date
.sign  
  %b Authorised signatory  
%br
.display 
  = link_to 'Edit', edit_telephone_verification_path(@telephone_verification)
  \|
  = link_to 'Back', telephone_verifications_path
