@media only print
{

body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
.container {background:none; width:100%;}
hr {background:#ccc;color:#ccc;width:100%;margin:0px;padding:0;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
code {font:.9em "Courier New", Monaco, Courier, monospace;}
a img {border:none;}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
 h5{width:120px;background:red;margin:1px 0px}

    .navbar-fixed-top{display:none;}
 
 table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-size:11px;
  font-weight:normal;
}

.statusbox{width:50px;float:left;}
.main{border:1px solid #000;height:100px;}
.table {
  width: 100%;
  margin-bottom:25px;
}
.table th,
.table td {
  padding: 2px 0px 0px 3px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table-bordered {
  border: 1px solid #dddddd;

}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
  background:red
} 
.table th{font-size:13px;}
h4{margin:5px;padding:0px;} 
th.loan_details{width:150px;}

th.self_employed{width:190px;}

th.income_details1{text-align:center;}
th.income_details{text-align:center;width:260px;}
td.observation{height:65px;}

th.property{width:210px;}
th.property_details{font-size:17px;}
th.builders{width:170px;}
hr.tele{margin:1px;}
.sign{float:right;}
.display {display:none;}
.right{float: right;}
table.no-border {border:none;}
table.no-border tr {border:none;}
table.no-border td {border:none;}
table.no-border th {border:none;}
.tvr{width:270px;}
.clear{clear:both;}
.authorised{margin-left:31em;}
td.underline{text-decoration:underline;}
th.locality {width:200px;}
td.loc1{width:200px;}
td.loc2{width:100px;}
td.loc3{width:65px;}
th.type{width:200px;}
th.entrance{width:300px;}
th.relation{width:150px;}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 4px 0 0;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
input, textarea, .uneditable-input {
    width: 206px;
}
input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}





}
